<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBneZrOA-ihgYmbvYkAT33Qt8mV-ZjCsYw</string>
	<key>GCM_SENDER_ID</key>
	<string>35461838725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.se380Richyrich</string>
	<key>PROJECT_ID</key>
	<string>se380-richyrich</string>
	<key>STORAGE_BUCKET</key>
	<string>se380-richyrich.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35461838725:ios:aa5f95d768e5a5d04a76ec</string>
</dict>
</plist>